@font-face {
    font-family: bold;
    src: url('../assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: normal;
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}

.container {
    background-color: #38b6ff;
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: normal;
    overflow: hidden;
    animation: fade 0.5s ease-in-out;
    position: relative;
}

.bulkModal {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 20;
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.cardbulk {
  background-color: white;
  padding: 20px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  animation: pop 0.5s ease-in-out;

}

.cardbulk .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardbulk .head h2 {
  font-size: 1rem;
  font-family: bold;
  margin: 0;
}

.cardbulk .body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}

.cardbulk .body form {
  width: 100%;
}

.cardbulk .body label {
  font-family: bold;
  font-size: 0.9rem;
}

.cardbulk .body input {
  border: none;
  background-color: rgba(128, 128, 128, 0.204);
  height: 40px;
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
  width: 100%;
}

.cardbulk .body button {
  border-radius: 5px;
  font-family: bold;
}

.cardbulk .body button:disabled {
  background-color: gray;
}

.cardbulk .body p {
  margin: 0;
}



button {
  font-size: small;
  font-family: bold;
  background-color: #38b6ff;
  border: none;
  border-radius: 5px;
}

button:hover {
  opacity: 0.5;
}

#btnBorrow {
  background-color: #387F39;
  font-size: small;
  width: 100px;
  border-radius: 5px;
}

#btnBorrow:disabled {
  background-color: gray;
}

.left {
  height: 100%;
  width: 290px;
  min-width: 290px;
  max-width: 290px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3), 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  z-index: 3;
  animation: slideRight 0.5s ease-in-out;
}

.profileDiv {
  position: relative;
  height: 50%;
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #38b6ff;
  user-select: none;
  color: white;
}

#bookLogo {
  width: 200px;
  height: 200px;
  background-color: white;
}

.profileDiv h1 {
  font-family: bold;
  margin: 0;
  font-size: 1.5rem;
}

.profileDiv h2 {
  margin: 0;
  font-size: 1rem;
}


.profileDiv button {
  background-color: white;
  color: #38b6ff;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: bold;
  font-size: .8rem;
  margin-bottom: 2%;
  height: 40px;
  text-align: start;
}

.profileDiv button:hover {
  opacity: 0.5;
}

.menuDiv {
  flex: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2%;
  padding: 5%;
}

.menuDiv button {
  width: 80%;
  color: white;
  border-radius: 5px;
  font-family: bold;
  font-size: 10pt;
  text-align: start;
  padding-left: 20px;
}

.menuDiv button:hover {
  background-color: rgb(255, 166, 0);
}

.right {
  flex: 100%;
}

#hamburgerMenu {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

#hamburgerMenuProfile {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.header {
    position: relative;
    width: 100%;
    height: 70px; 
    max-height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
    animation: fade 0.5s ease-in-out;
    user-select: none;
    padding-right: 20px;
    gap: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.header h1 {
  font-size: 1.3rem;
  font-family: bold;
  margin: 0;
}

.divDropDownMenu {
  position: absolute;
  background-color: white;
  z-index: 20;
  border-radius: 5px;
  padding: 20px;
  top: 10px;
  right: 10px;
  gap: 10px;
  animation: pop 0.5s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.divDropDownMenu p {
  font-size: .8rem;
  margin: 0;
  cursor: pointer;
  user-select: none;
}

.divDropDownMenu button {
  border-radius: 5px;
}

#defaultProfile {
  background-color: rgb(196, 193, 193);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: bold;
  font-size: 1rem;
  border-radius: 50%;   
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.profileDiv img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 2%;
  margin-bottom: 5%;
  cursor: pointer;
  background-color: rgb(196, 193, 193);
  user-select: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.titleDiv {
  display: flex;
  width: 80%;
  justify-content: flex-start;
  align-items: flex-start;
}

.titleDiv h1 {
  font-family: bold;
  color: white;
  user-select: none;
}

.tableDiv {
  width: 80%;
  max-height: 400px;
  padding: 1%;
  margin-top: 2%;
}

.searchBarDiv {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 2%;
}

.searchBarDiv select {
  width: 20%;
  border: none;
  outline: none;
  font-family: bold;
  font-size: 12pt;
  color: #38b6ff;
  border-radius: 5px;
  padding: 10px;
}


#searchBar {
  border: none;
  outline: none;
  font-family: bold;
  font-size: 12pt;
  color: #38b6ff;
  padding: 10px;
  padding-left: 20px;
  width: 100%;
  border-radius: 5px;
}

#searchBar::placeholder {
  color: #38b6ff61;
}

.table {
  font-family: bold;
  margin-bottom: 1%;
  color: #38b6ff;
  background-color: transparent;
  border-radius: 5px;
}



@media (max-width: 1440px) {
  .left {
      flex: 30%;
  }

  .content {
    margin-top: 2%;
    justify-content: flex-start;
  }

  .titleDiv h1 {
    font-size: 15pt;
  }

  #searchBar {
    font-size: 10pt;
  }

  .searchBarDiv select {
    font-size: 10pt;
  }

  .table {
    font-size: 10pt;
  }

  .left {
    width: 30%;
    height: 100%;
    position: absolute;
  }

  #btnBorrow {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .left {
    width: 40%;
  }

  .header {
    
    justify-content: space-between;
  }
}

@media (max-width: 425px) {
    .left {
      width: 100%;
    }

    .right {
      width: 100%;
    }

    .searchBarDiv {
      flex-direction: column;
    }

    .searchBarDiv select {
      width: 100%;
    }
    
    .table {
      font-size: 5pt;
    }

}


@keyframes pop {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes slideRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


