@font-face {
    font-family: bold;
    src: url('../assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: normal;
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}

.container {
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: normal;
}

.card {
  background-color: #38b6ff;
  padding: 30px;
  border-radius: 10px;
  width: 500px;
  height: 300px;
  animation: pop 0.5s ease-in-out;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.card form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card h1 {
  font-family: bold;
  color: white;
  font-size: 1.5rem;
  margin: 0;
}

.card p {
  color: white;
  font-size: '1rem';
}

.card input {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  outline: none;
  border: none;
  height: 40px;
  margin-bottom: 20px;
}

.card button {
  background-color: #ffa600;
  font-size: 1rem;
  font-family: bold;
  width: 100%;
  border-radius: 5px;
}


.doneDiv {
  background-color: #38b6ff;
  width: 100%;
  height: 100%; 
  display: flex;
  flex-direction: column  ;
  align-items: center;
  justify-content: center ;
}

.doneDiv p {
  font-family: bold;
  font-size: 1.5rem;
  color: white;
}

.doneDiv button {
  width: 300px;
  font-family: bold;
  height: 40px;
  border-radius: 5px;
  background-color: #ffa600;
}


.container form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}



.toast {
  background-color: #387F39;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 20px;
  border-radius: 5px;
  font-size: 10pt;
  font-family: bold;
  color: white;
  animation: pop 0.5s ease;
}


@media (max-width: 510px) {
    .content button  {
        width: 80%;
    }


}


@keyframes pop {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


