@font-face {
    font-family: bold;
    src: url('../assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: normal;
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 20px;
  position: relative;
  padding: 20px;
}

.sidebar {
  width: 40%;
  max-width: 500px;
  min-width: 300px;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.content select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-family: bold;
    outline: none;
    border: 2px solid #38b6ff;
    color: #38b6ff;
}

.searchBar {
    display: flex;
    align-items: center;
    padding-right: 20px;
    gap: 10px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: rgba(128, 128, 128, 0.081);
}

.searchBar input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 10px;
    background-color: transparent;
}

.searchBar button {
    width: 20%;
    border-radius: 5px;
    background-color: #38b6ff;
}

.searchBar button:disabled {
  background-color: gray;
}

.tableDiv {
  width: 100%;
  height: auto;
  overflow-x: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  font-family: normal;
  border-radius: 5px;
}

.table .ant-table-thead > tr > th {
  background-color: #38b6ff7c; /* Light blue background */
  color: #ffffff; /* Text color */
  font-weight: bold; /* Bold font */
  text-align: center; /* Center align text */
}


  
  @keyframes pop {
      0% {
        transform: scale(0.5);
      }
      50% {
        transform: scale(1);
      }
      100% {
        transform: scale(1);
      }
    }
  
    @keyframes slideRight {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
    }
  
    @keyframes slideDown {
      0% {
        transform: translateY(-50%);
      }
      100% {
        transform: translateY(0);
      }
    }
  
    @keyframes fade {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  