@font-face {
    font-family: bold;
    src: url('../assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: normal;
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: normal ;
    animation: fade 0.5s ease-in-out;
}

.cardAnalyticsBar {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 17%;
    max-width: 230px;
    min-width: 200px;
    min-height: 150px;
    border-radius: 10px;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}

.cardHead {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cardHead h1 {
    font-family: bold;
    margin: 0;
    font-size: x-large;
}

.card p {
  font-size: small;
  margin: 0;
}

.contentCharts {
  width: 100%;
  display: flex;
  gap: 10px;
}

.cardChart {
  border: 1px solid #38b6ff;
  border-radius: 10px;
  padding: 50px;
  width: 50%;
  height: 500px;
}







@media (max-width: 1024px) {
    .card {
      padding: 2%;
    }
    .card p {
        font-size: 10pt;
    }
  }
  
  
  @keyframes pop {
      0% {
        transform: scale(0.5);
      }
      50% {
        transform: scale(1);
      }
      100% {
        transform: scale(1);
      }
    }
  
    @keyframes slideRight {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
    }
  
    @keyframes fade {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  