@font-face {
    font-family: bold;
    src: url('../assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: normal;
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 2%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container select {
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    font-family: bold;
    outline: none;
    border: 2px solid #38b6ff;
    color: #38b6ff;
}

.searchBar {
    display: flex;
    gap: 2%;
    width: 50%;
}

.searchBar input {
    width: 80%;
    border: 2px solid #38b6ff;
    border-radius: 5px;
    outline: none;
    padding-left: 2%;
}

.searchBar button {
    width: 20%;
    border-radius: 5px;
    background-color: #38b6ff;
}

.searchBar button:disabled {
  background-color: gray;
}

.tableDiv {
  border: 2px solid #38b6ff;
  width: 50%;
  border-radius: 5px;
}




@media (max-width: 768px) {
    .sidebar {
      position: absolute;
      width: 300px;
      height: 100%;
    }
  
  }
  
  
  @keyframes pop {
      0% {
        transform: scale(0.5);
      }
      50% {
        transform: scale(1);
      }
      100% {
        transform: scale(1);
      }
    }
  
    @keyframes slideRight {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
    }
  
    @keyframes slideDown {
      0% {
        transform: translateY(-50%);
      }
      100% {
        transform: translateY(0);
      }
    }
  
    @keyframes fade {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  