@font-face {
    font-family: bold;
    src: url('../assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: normal;
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}


.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: hidden;
    font-family: normal;
    animation: fade 0.5s ease-in-out;
    position: relative;
    color: #38b6ff;
    padding: 20px;
}

.toast {
  background-color: #387F39;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 20px;
  border-radius: 5px;
  font-size: 10pt;
  font-family: bold;
  color: white;
  animation: pop 0.5s ease;
}

.content {
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

#btnAction {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #EE4E4E;
  height: 40px;
  color: white;
}

.searchBar {
  display: flex;
  align-items: center;
  padding-right: 20px;
  gap: 10px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: rgba(128, 128, 128, 0.081);
}

.searchBar input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 10px;
  background-color: transparent;
}

.searchBar button {
  width: 20%;
  border-radius: 5px;
  background-color: #38b6ff;
}

.searchBar button:disabled {
  background-color: gray;
}

.table {
  font-family: bold;
  margin-bottom: 1%;
  color: #38b6ff;
  font-size: 10pt;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal {
    background-color: white;
    border: 2px solid #38b6ff;
    padding: 2%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: absolute;
    width: 50%;
    height: auto;
    z-index: 20;
    animation: pop 0.5s ease-in-out;
}

.modalHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 20pt;
    padding: 2%;
    font-family: bold;
}

.modal form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.modal p {
    margin: 0;
    font-family: normal;
    font-size: small;
    color: red;
}

.modal h1 {
  font-size: 1.5rem;
  font-family: bold;
  margin: 0;
}

.modal input {
    border: 2px solid #38b6ff;
    border-radius: 5px;
    width: 100%;
    outline: none;
    padding: 1%;
    padding-left: 2%;
    color: #38b6ff;
    font-family: bold;
    height: 40px;
}

.modal input::placeholder {
  font-family: normal;
  font-size: small;
  color: #38b6ffa2;
}

.modal select {
  width: 100%;
  outline: none;
  color: #38b6ff;
  font-family: bold;
  border: 2px solid #38b6ff;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 10px;
  font-size: small;
  padding-left: 10px;
  padding-right: 10px;
}

.modal label {
  font-family: bold;
  font-size: medium;
}

.modal label b {
  color: red;
}

.modal button {
    border-radius: 5px;
    font-family: bold;
}

.closeDiv {
    border: 2px solid #38b6ff;
    border-radius: 5px;
}

.closeDiv:hover {
  background-color: #38b6ff;
  color: white;
}


@keyframes pop {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes slideRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
